$color-primary: #611e69;
$color-primary-dark: #49154a;
$color-primary-light: #6f456f;
$color-primary-lighter: #ecddec;

$color-secondary: #1164a3;
$color-secondary-light: #36c5ef;

$color-grey-dark-1: #696969;
$color-grey-dark-2: #ebeaeb;
$color-grey-dark-3: #fafafa;

$color-white: #fff;
$color-black: #000;

$shadow-dark: 0 3rem 5rem rgba($color-black, 0.1);
$shadow-light: 0 1rem 3rem rgba($color-black, 0.05);

$border-radius-sm: 4px;
$border-radius-md: 10px;
$border-radius-lg: 100px;

$border-bg: 4px solid $color-primary-light;
