//margins
.u-mr-xs {
  margin-right: 7px !important;
}

.u-mr-sm {
  margin-right: 1.5rem !important;
}

.u-ml-sm {
  margin-left: 1rem !important;
}

.u-mt-sm {
  margin-top: 1rem !important;
}

.u-mt-md {
  margin-top: 8rem !important;
}

.u-mb-sm {
  margin-bottom: 1rem !important;
}

.u-mb-md {
  margin-bottom: 2rem !important;
}

//paddings
.u-pt-lg {
  padding-top: 4rem !important;
}

//colors
.u-color-white {
  color: $color-white !important;
}

//max-width
.u-max-width-85 {
  max-width: 85% !important;
  margin: 0 auto !important;
}

//align
.u-text-center {
  text-align: center;
}

//background-colors
.u-bg-grey-light {
  background-color: $color-grey-light !important;
}
