.mr-xs {
  margin-right: 7px;
}

.mr-sm {
  margin-right: 1.5rem;
}

.ml-sm {
  margin-left: 1rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2rem;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.text-center {
  text-align: center;
}
